* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #0a0a0a, #3a4452);
}
.calculator {
  border: 1px solid #717377;
  box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
  padding: 20px;
  border-radius: 20px;
  background: transparent;
}
input {
  width: 320px;
  padding: 24px;
  text-align: right;
  font-size: 40px;
  background: transparent;
  border: none;
  box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
  cursor: pointer;
  color: white;
}
input::placeholder {
  color: white;
}
button {
  font-size: 16px;

  width: 55px;
  height: 55px;
  margin: 12px;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
  background: transparent;
  color: white;
}
.equalBtn {
  background: orange;
}
.operator {
  color: green;
}
